* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-image: url('galaxy-s22-ultra_highlights_kv_img.webp'); 
  background-size: cover;
  background-position: center;
  color: #e8dcdc;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em 0;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 1em;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #ffd700;
}

.hero {
  text-align: center;
  padding: 3em 0;
  background-color: rgba(255, 255, 255, 0); 
}

.hero h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  color: #0f0606;
}

.hero p {
  font-size: 1.2em;
  color: #050303;
}

.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 3em 0;
  background-color: rgba(4, 4, 4, 0.591); 
}

.feature {
  text-align: center;
  margin: 1em;
  padding: 2em;
  background-color: #a4a1c45e;
  border-radius: 5px;
}

.contact {
  text-align: center;
  padding: 3em 0;
  background-color: rgba(51, 51, 51, 0.8); 
  color: #ffffff;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

form label {
  margin-bottom: 0.5em;
  font-weight: bold;
}

form input, form textarea {
  padding: 0.5em;
  margin-bottom: 1em;
}

form button {
  padding: 0.5em;
  background-color: #ffd700;
  color: #333;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

form button:hover {
  background-color: #ffc107;
}
